@model List<Person>   
@*Here use model with small case!*@

@{
    ViewData["Title"] = "Privacy Policy";
    string eMail = "konradwisniewski@hotmail.com";

}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@{
    var currentYear = DateTime.Now.Year;
    var currentDayOfWeek = DateTime.Now.DayOfWeek;
}
<p>@currentYear</p>
@if(currentDayOfWeek == DayOfWeek.Saturday || currentDayOfWeek == DayOfWeek.Sunday)
{
    <p>it's weekend</p>
} else
{
    <p>Not yeat a weekend</p>
}

@switch (currentDayOfWeek) {
    case DayOfWeek.Monday:
        <p>It's</p>
        break;
    default:
        <p>It's not a Monday</p>
        break;

}
<a href="mailto:konradwisniewski@hotmail.com">konradwisniewski@hotmail.com</a>
<br />
<a href="mailto:@eMail">@eMail</a>
<br />
<a href="mailto:@eMail">Napisz do mnie</a>
<br />
<br />


@*Here use Model with capitalized case!*@
@foreach(var person in Model)
{
    <p>Witaj @person.FirstName @person.LastName</p>
}